p {
    font-size: 120%;
}

span {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    font-size: 120%;
    line-height: 1.5;
}

span.time {
    font-size: 115%;
    color:#2f5d7c;
    word-spacing: -1px;
}

.office-hours {
    margin-bottom: 10px;
}
span.open-circle-dean {
    width: 10px;
    height: 10px;
    vertical-align: bottom;
    margin-left: 6px;
    margin-bottom: 4px;
    border-radius: 15px;
    display: inline-block;
    background: red;
}
span.open-circle-undergrad-ss {
    width: 10px;
    height: 10px;
    vertical-align: bottom;
    margin-left: 6px;
    margin-bottom: 4px;
    border-radius: 15px;
    display: inline-block;
    background: white;
}
span.open-circle-grad {
    width: 10px;
    height: 10px;
    vertical-align: bottom;
    margin-left: 6px;
    margin-bottom: 4px;
    border-radius: 15px;
    display: inline-block;
    background: red;
}
span.open-circle-finance {
    width: 10px;
    height: 10px;
    vertical-align: bottom;
    margin-left: 6px;
    margin-bottom: 4px;
    border-radius: 15px;
    display: inline-block;
    background: red;
}