h3 {
    font-size: 180%;
    line-height: 180%;
    font-weight: 400;
    margin-bottom: 5%;
}
h5 {
    margin-top: 0;
    font-weight: 0;
}
img {
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
    width: 100%;
}
.image-region {
    position: relative;
   margin-right: -15px;
}
.image-region {
    position: relative;
   margin-right: -15px;
}
@media screen and (max-width: 979px) {
    #container {
        padding-top: 0px !important;
    }
    .image-region {
    	margin-left: -20px;
    	margin-right: -20px;
    }
    .header-text {
        position: absolute;
        text-align: left;
        width: 100%;
        bottom: 0;
        color: white;
        margin-bottom: 3%;
        font-size: 80%;
        line-height: 50%;
    }
    .large-intro {
        font-size: 300%;
        line-height: 75%;
        padding-left: 80px;
    }
}
@media screen and (max-width: 767px) {
    .large-intro {
        font-size: 200%;
        line-height: 75%;
        padding-left: 40px;
    }
   .span12 {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 480px) {
    .large-intro {
        font-size: 150%;
        line-height: 75%;
        padding-left: 20px;
    }
}

@media screen and (max-width: 300px) {
    .large-intro {
        font-size: 110%;
        line-height: 50%;
        padding-left: 15px;
    }
}
p {
    font-size: 120%;
}