h2 {
    font-size: 250%;
    line-height: 130%;
    margin-bottom: 1%;
}

h3 {
    font-size: 150%;
    line-height: 180%;
}

h4 {
    line-height: 120%;
}
img {
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
}

.full-width-container {
    margin-left: 0px !important;
}

#container {
    padding-top: 0px !important;
}

.overlay {
    display: block;
    position: relative;
    background-color: rgba(12,35,68,.8);
    height: 100%;
    width: 100%;
}

.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12,35,68,0);;
}

.header-text {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    color: white;
    margin-bottom: 3%;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}

@media screen and (max-width: 979px) {
    #container {
        padding-top: 0px !important;
    }
    .image-region {
    	margin-left: -20px;
    	margin-right: -20px !important;
    }
    .header-text {
        position: absolute;
        text-align: left;
        width: 100%;
        bottom: 0;
        color: white;
        margin-bottom: 3%;
        font-size: 80%;
        line-height: 50%;
    }
    .large-intro {
        font-size: 300%;
        line-height: 75%;
        padding-left: 80px;
    }
    .box {
        height: 150px;
    }
}
@media screen and (max-width: 767px) {
    .large-intro {
        font-size: 200%;
        line-height: 75%;
        padding-left: 40px;
    }
   .span12 {
        margin-bottom: 0;
    }
    .bottom-margin {
        margin-bottom: 3%;
    }
    .btn {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 480px) {
    .large-intro {
        font-size: 150%;
        line-height: 75%;
        padding-left: 20px;
    }
    .box {
        height: 120px;
    }
    
}

@media screen and (max-width: 300px) {
    .large-intro {
        font-size: 110%;
        line-height: 50%;
        padding-left: 15px;
    }
    .box {
        height: 70px;
    }
    
}

.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.course-name {
    color: white;
    text-align: center;
}

.span12 {
    margin-bottom: 5%;
}

.image-region {
    position: relative;
    margin-right: -15px;
}
.large-intro {
    font-size: 400%;
    line-height: 150%;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}

h1.page-title {
    display: none;
}
a.programs {
    text-decoration: none;
}
.bottom-margin {
    margin-bottom: 5%;
}
.support {
    height: 225px;
}
.btn {
    background-color: transparent;
    color: #002145;
    background-image: none;
}