.overlay {
    display: block;
    position: relative;
    background-color: rgba(12,35,68,.8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12,35,68,0);;
}
@media screen and (max-width: 979px) {
    #container {
        padding-top: 0px !important;
    }
    .image-region {
    	margin-left: -20px;
    	margin-right: -20px !important;
    }
    .header-text {
        position: absolute;
        text-align: left;
        width: 100%;
        bottom: 0;
        color: white;
        margin-bottom: 3%;
        font-size: 80%;
        line-height: 50%;
    }
    .large-intro {
        font-size: 300%;
        line-height: 75%;
        padding-left: 80px;
    }
    .box {
        height: 150px;
    }
}
@media screen and (max-width: 767px) {
    .large-intro {
        font-size: 200%;
        line-height: 75%;
        padding-left: 40px;
    }
   .span12 {
        margin-bottom: 0;
    }
    .explore-more {
        margin-right: 15px;
    }
}
@media screen and (max-width: 480px) {
    .large-intro {
        font-size: 150%;
        line-height: 75%;
        padding-left: 20px;
    }
    .box {
        height: 120px;
    }
}
@media screen and (max-width: 300px) {
    .large-intro {
        font-size: 110%;
        line-height: 50%;
        padding-left: 15px;
    }
    .box {
        height: 70px;
    }
}
.course-name {
    color: white;
    text-align: center;
}
.span12 {
    margin-bottom: 5%;
}
.image-region {
    position: relative;
    margin-right: -15px;
}
h3 {
    font-size: 150%;
    line-height: 180%;
}
.overlay {
    display: block;
    position: relative;
    background-color: rgba(12,35,68,.8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12,35,68,0);;
}
@media screen and (max-width: 979px) {
    #container {
        padding-top: 0px !important;
    }
    .image-region {
    	margin-left: -20px;
    	margin-right: -20px !important;
    }
    .header-text {
        position: absolute;
        text-align: left;
        width: 100%;
        bottom: 0;
        color: white;
        margin-bottom: 3%;
        font-size: 80%;
        line-height: 50%;
    }
    .large-intro {
        font-size: 300%;
        line-height: 75%;
        padding-left: 80px;
    }
    .box {
        height: 150px;
    }
}
@media screen and (max-width: 767px) {
    .large-intro {
        font-size: 200%;
        line-height: 75%;
        padding-left: 40px;
    }
   .span12 {
        margin-bottom: 0;
    }
    .explore-more {
        margin-right: 15px;
    }
}
@media screen and (max-width: 480px) {
    .large-intro {
        font-size: 150%;
        line-height: 75%;
        padding-left: 20px;
    }
    .box {
        height: 120px;
    }
}
@media screen and (max-width: 300px) {
    .large-intro {
        font-size: 110%;
        line-height: 50%;
        padding-left: 15px;
    }
    .box {
        height: 70px;
    }
}
.course-name {
    color: white;
    text-align: center;
}
.span12 {
    margin-bottom: 5%;
}
.image-region {
    position: relative;
    margin-right: -15px;
}
.ranking-number {
    text-align: center;
    font-size: 7em;
    line-height: 1.8em;
    font-weight: 700;
    font-style: normal;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #002145;
}
.ranking-title {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #002145;
}
.source {
    text-align: center;
    font-size: 0.7em;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #002145;
}
h1.page-title {
    display: none;
}
#span12-0 {
    margin-left: 0;
    margin-bottom: 0;
}
img.featured-profiles {
  height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 100%;
    margin: auto;
}