.banner {
  background: #3ba648;
  text-align: center;
}
.text-style {
  color: white;
}
#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    float: none;
}
.breadcrumb {
    margin-left: auto !important;
    margin-right: auto  !important;
    max-width: 1170px  !important;
    float: none  !important;
}
.no-margin-left {
    margin-left: 0 !important;   
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-margin-right {
    margin-right: 0 !important;
}
.no-text-decoration {
    text-decoration: none;
}
h1 {
    font-weight: 400;
    margin-bottom: 1%;   
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
h2 {
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
h3 {
    font-size: 150%;
    line-height: 180%;
    font-weight: 400;
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
h4 {
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
p, td {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}
li, ul {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    font-size: 1em;
}
.large-intro {
    font-size: 400%;
    line-height: 150%;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}
.header-text {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    color: white;
    margin-bottom: 3%;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
.image-region {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 41%;
    height: 0px;
    overflow: hidden;
}
.image-region #banner {
    position: absolute;
    top: 0px;
}
#ubc7-unit .container {
    position: relative;
    height: inherit;
}
#ubc7-unit .apply-now-button {
    color: white;
    position: absolute;
    right: 0px;
    height: inherit;
    width: 85px;
    background: #eb513a;
    padding: 0px 20px;
}
#ubc7-unit .apply-now-button span {
    position: absolute;
    top: 50%;
    width: inherit;
    transform: translate(0%, -50%);
    text-align: center;
}
#ubc7-unit-navigation #menu-top-nav li.apply-button {
    background-color: #eb513a;
}
#ubc7-unit-navigation #menu-top-nav li.apply-button a {
    color: white;
}
#container {
    padding-top: 0px !important;
}
.border-bottom {
    border-bottom: 1px solid #b2c6d3;
    padding-bottom: 30px;
}
.btn {
  font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;  
}
img {
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
    width: 100%;
}
img.featured-profiles {
  height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 100%;
    margin: auto;
}
.featured-container {
    padding: 10px;
}
.featured-container:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
h2.featured {
    text-align: center;
    font-size: 1.4em;
}
h3.featured {
    color: #0680a6;
    text-align: center;
    font-size: 1em;
    margin-top: 1%;
}
h3.box-name {
    margin: auto;
}
.explore-more {
    float: right;
    background-color: transparent;
    color: #002145;
    background-image: none;
    margin-right: 30px;
} 
.apply-button {
    background-color: transparent;
    color: #002145;
    background-image: none;
}
div.intro {
    color: #2F5D7C;
    font-size: 175%;
    letter-spacing: 0;
    line-height: 150%;
    margin: 0 0 3%;
    font-weight: 300;
}
.paragraph {
    background-color: #f3f6f8;
    padding: 25px;
    margin-bottom: 25px;
}
.tab-pane {
    background-color: transparent;
    color: #002145;
    background-image: none;
}
.icon-chevron-up {
    color: #d7e0e7;
    font-size: 175%;
    line-height: normal;
    vertical-align: baseline;
}
.post-title {
    display: none;
}
.post-byline {
    display: none;
}
.post-meta {
    display: none;
}
.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.page-section {
  padding-top: 4rem; 
}
.section-header {
  font-size: 25px;
}
.sidebar-list {
  margin: 0;
  list-style: none;
}
.sidebar-list > li{
  margin-top: 1rem;
  font-size: 16px;
}
.back-to-top-link {
  margin-top: 1.8rem;
  margin-bottom: 0.6rem;
  display: inline-block;
}
.back-to-top {
  color: #222;
}
.page-toc {
  padding: 1.4rem 3rem;
  background: #f9f9f9;
}
.page-toc > h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.4rem;
}
#training {
    background-image: url(http://lfs-ps.sites.olt.ubc.ca/files/2016/10/21352299053_f298e90871_z.jpg);
}
.overlay {
    display: block;
    position: relative;
    background-color: rgba(12, 35, 68, .8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12, 35, 68, 1);
}
.span12 {
    margin-bottom: 5%;
}
.navigation-links {
    display: none;
}

/*slick slider*/
.span12.profile-slick-slider {
    margin: 0px;
}
.profile-slick-slider a {
    display: none;
    text-decoration: none;
}
.profile-slick-slider a.profile-link {
    display: block;
}
.profile-slick-slider a.profile-link:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.profile-slick-slider .slick-slide {
    margin: 0 7px;
}
.profile-slick-slider div.slick-slide,
.profile-slick-slider a.profile-link {
    outline: 0px;
}
.slider-wrap .profile-wrapper {
    cursor: pointer;
}
.slider-wrap .profile-name {
    text-align: center;
    font-size: 1.4em;
}
.slider-wrap .profile-program {

    color: #0680a6;
    text-align: center;
    font-size: 1em;
    margin-top: 1%;
}

/*slider arrow*/
.slider-wrap {
    position: relative;
    /* sometimes container height does is set to zero even though child has height, overflow: hidden fixes this problem */
    overflow: hidden;
}
.slider-wrap .slick-list {
    padding: 0px;
}
.slider-wrap.withSideArrow .slick-list {
    padding: 32px;
}
.slider-wrap .slider-arrow-wrap {
    position: absolute;
    height: 100%;
    background-color: white;
    display: none;
}
.slider-wrap.withSideArrow .slider-arrow-wrap {
    display: block;
    width: 34px;
}
.slider-wrap.withSideArrow .slider-prev-wrap {
    left: -1px;
}
.slider-wrap.withSideArrow .slider-next-wrap {
    right: -1px;
}
.slider-wrap .slider-arrow-wrap p {
    position: absolute;
    top: 50%;
    margin: 0px;
    -ms-transform: translate(0%, -50%); /* IE 9 */
    -moz-transform: translateY(-50%);
    -webkit-transform: translate(0%, -50%); /* Safari */
    transform: translate(0%, -50%);
    font-size: 85px;
    width: 30px;
    height: 50px;
    line-height: 35px;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.slider-wrap .slider-arrow-wrap p.slider-prev {
    padding-left: 4px;
    padding-right: 0px;
    color: #A8A8A8;
    -o-animation: removeArrowShiftLeft 0.4s;
    -moz-animation: removeArrowShiftLeft 0.4s;
    -webkit-animation: removeArrowShiftLeft 0.4s;
    animation: removeArrowShiftLeft 0.4s;
    -o-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.slider-wrap .slider-arrow-wrap p.slider-prev:hover {
    padding-left: 0px;
    padding-right: 4px;
    color: #0680a6;
    -o-animation: arrowShiftLeft 0.4s;
    -moz-animation: arrowShiftLeft 0.4s;
    -webkit-animation: arrowShiftLeft 0.4s;
    animation: arrowShiftLeft 0.4s;
    -o-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.slider-wrap .slider-arrow-wrap p.slider-prev:active {
    color: #2f5d7c;
}
@-webkit-keyframes arrowShiftLeft {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
}
@-moz-keyframes arrowShiftLeft {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
}
@-o-keyframes arrowShiftLeft {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
}
@keyframes arrowShiftLeft {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
}
@-webkit-keyframes removeArrowShiftLeft {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
}
@-moz-keyframes removeArrowShiftLeft {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
}
@-o-keyframes removeArrowShiftLeft {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
}
@keyframes removeArrowShiftLeft {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
}
.slider-wrap .slider-arrow-wrap p.slider-next {
    padding-left: 0px;
    padding-right: 4px;
    color: #A8A8A8;
    -o-animation: removeArrowShiftRight 0.4s;
    -moz-animation: removeArrowShiftRight 0.4s;
    -webkit-animation: removeArrowShiftRight 0.4s;
    animation: removeArrowShiftRight 0.4s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.slider-wrap .slider-arrow-wrap p.slider-next:hover {
    padding-left: 4px;
    padding-right: 0px;
    color: #0680a6;
    -o-animation: arrowShiftRight 0.4s;
    -moz-animation: arrowShiftRight 0.4s;
    -webkit-animation: arrowShiftRight 0.4s;
    animation: arrowShiftRight 0.4s;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.slider-wrap .slider-arrow-wrap p.slider-next:active {
    color: #2f5d7c;
}
@-webkit-keyframes arrowShiftRight {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
}
@-moz-keyframes arrowShiftRight {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
}
@-o-keyframes arrowShiftRight {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
}
@keyframes arrowShiftRight {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
}
@-webkit-keyframes removeArrowShiftRight {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
}
@-moz-keyframes removeArrowShiftRight {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
}
@-o-keyframes removeArrowShiftRight {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
}
@keyframes removeArrowShiftRight {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
}
/* Slick Slider End */

@media screen and (max-width: 1200px) {
    .large-intro {
        font-size: 300%;
    }
}
@media screen and (max-width: 979px) {
    #container {
        padding-top: 0px !important;
    }
    .image-region {
        margin-left: -20px;
        margin-right: -20px !important;
    }
    .header-text {
        position: absolute;
        text-align: left;
        width: 100%;
        bottom: 0;
        color: white;
        margin-bottom: 3%;
        font-size: 80%;
        line-height: 50%;
    }
    .large-intro {
        padding-left: 20px;
    }
    .full-width-container {
    margin-left: 0px !important;
    }
}
@media screen and (max-width: 978px) {
    #ubc7-unit .container .apply-now-button {
        right: 30px;
    }
}
@media screen and (max-width: 767px) {
    .large-intro {
        font-size: 200%;
    }
   .span12 {
        margin-bottom: 0;
    }
    .explore-more {
        margin-right: 15px;
    }
    #ubc7-unit .container .apply-now-button {
        right: 65px;
    }
    h3 {
        font-size: 100%;
    }
    h2 {
        font-size: 200%
    }
    p {
        font-size: 100%;
    }
    .btn {
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 571px) {
    #ubc7-unit-navigation #menu-top-nav li.apply-button {
        display: none;
    }
    #ubc7-unit .container .apply-now-button {
        display: block;
    }
}
@media screen and (max-width: 570px) {
    #ubc7-unit .container .apply-now-button {
        display: none;
    }
    #ubc7-unit-navigation #menu-top-nav li.apply-button {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .large-intro {
        font-size: 150%;
        padding-left: 20px;
    }
}
@media screen and (max-width: 300px) {
    .large-intro {
        font-size: 110%;
        padding-left: 15px;
    }
}
.tg td{padding:8px 8px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-top{vertical-align:top}

.th-col1 {
  color:#002145;
  font-style:italic;
  font-weight:bold;
}


.blockquote {
  font-weight:800;
  font-style:italic;
  background-color: #e7e7e7;
  padding:1em;
  font-size:150%;  
}