/* Featured Profile */
.featured-profile-wrapper {
    -webkit-column-count: 3;
   /* Chrome, Safari, Opera */
    -moz-column-count: 3;
   /* Firefox */
    column-count: 3;
    column-gap: 20px;
}

.featured-profile {
    display: block;
}

.featured-profile-block {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    display: inline-block;
}

.featured-profile-block:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.featured-profile-content {
    padding: 15px;
}

.featured-profile-img {
    width: 100%
}

.featured-profile-name {
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .featured-profile-wrapper {
        -webkit-column-count: 2;
       /* Chrome, Safari, Opera */
        -moz-column-count: 2;
       /* Firefox */
        column-count: 2;
        column-gap: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .featured-profile-wrapper {
        -webkit-column-count: 1;
       /* Chrome, Safari, Opera */
        -moz-column-count: 1;
       /* Firefox */
        column-count: 1;
    }
}

/* Cards */

.card-wrapper {
    -webkit-column-count: 4;
   /* Chrome, Safari, Opera */
    -moz-column-count: 4;
   /* Firefox */
    column-count: 4;
    column-gap: 20px;
}

.card {
    display: block;
    margin-bottom: 20px;
}

.card-block {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-content {
    padding: 15px;
}

.card-img {
    width: 100%;
}

.card-title {
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .card-wrapper {
        -webkit-column-count: 2;
       /* Chrome, Safari, Opera */
        -moz-column-count: 2;
       /* Firefox */
        column-count: 2;
        column-gap: 10px;
   }
   /* .target-link {
       width: 25%;
       position: relative;
       float: left;
   } */

   .card-content {
       float: left;
   }
}
@media only screen and (max-width: 500px) {
    .card-wrapper {
        -webkit-column-count: 1;
       /* Chrome, Safari, Opera */
        -moz-column-count: 1;
       /* Firefox */
        column-count: 1;
        column-gap: 20px;
   }
   /* .target-link {
       width: 25%;
       position: relative;
       float: left;
   } */

}

/* Major Cards */
.major-card {
    display: block;
    margin-bottom: 20px;
}

.major-card-block {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
}

.major-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.major-card-title {
    padding: 15px;
}

.major-card-content {
    padding: 15px;
}

.major-card-img {
    width: 100%;
}

.major-card-title {
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .major-card-wrapper {
        -webkit-column-count: 2;
       /* Chrome, Safari, Opera */
        -moz-column-count: 2;
       /* Firefox */
        column-count: 2;
        column-gap: 10px;
   }
   /* .target-link {
       width: 25%;
       position: relative;
       float: left;
   } */

   .card-content {
       float: left;
   }
}
@media only screen and (max-width: 500px) {
    .major-card-wrapper {
        -webkit-column-count: 1;
       /* Chrome, Safari, Opera */
        -moz-column-count: 1;
       /* Firefox */
        column-count: 1;
        column-gap: 20px;
   }
   /* .target-link {
       width: 25%;
       position: relative;
       float: left;
   } */

}


.banner {
  background: #3ba648;
  text-align: center;
}
.text-style {
  color: white;
}
#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    float: none;
}
.breadcrumb {
    margin-left: auto !important;
    margin-right: auto  !important;
    max-width: 1170px  !important;
    float: none  !important;
}
.no-margin-left {
    margin-left: 0 !important;   
}
.no-margin-top {
    margin-top: 0 !important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.no-margin-right {
    margin-right: 0 !important;
}
.no-text-decoration {
    text-decoration: none;
}
h1 {
    font-weight: 400;
    margin-bottom: 1%;   
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #4e5134;
}
h2 {
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #4e5134;
}
h3 {
    font-size: 165%;
    line-height: 180%;
    font-weight: 400;
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #4e5134;
}
h4 {
    font-weight: 400;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #4e5134;
}
p, td {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #4e5134;
    font-size: 17px;
    line-height: 1.65;
}
li, ul, ol {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #4e5134;
    font-size: 17px;
    line-height: 1.65;
}

a {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #4e5134;
}

/*  fonts */
html {
    font-size: 17px;
}
@media (max-width: 900px){
    html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 13px; }
}

.large-intro {
    font-size: 400%;
    line-height: 150%;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
    color: white;
}
.header-text {
    position: absolute;
    text-align: left;
    width: 100%;
    bottom: 0;
    color: white;
    margin-bottom: 3%;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
}
.image-region {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 41%;
    height: 0px;
    overflow: hidden;
}
.image-region #banner {
    position: absolute;
    top: 0px;
}
#ubc7-unit .container {
    position: relative;
    height: inherit;
}
#ubc7-unit .apply-now-button {
    color: white;
    position: absolute;
    right: 0px;
    height: inherit;
    width: 85px;
    background: #8c925e;
    padding: 0px 20px;
}
#ubc7-unit .apply-now-button span {
    position: absolute;
    top: 50%;
    width: inherit;
    transform: translate(0%, -50%);
    text-align: center;
}
#ubc7-unit-navigation #menu-top-nav li.apply-button {
    background-color: #8c925e;
}
#ubc7-unit-navigation #menu-top-nav li.apply-button a {
    color: white;
}
#container {
    padding-top: 0px !important;
}
.border-bottom {
    border-bottom: 1px solid #8c925e;
    padding-bottom: 30px;
}
.btn {
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;  
    background-color: transparent;
    color: #4e5134;
    background-image: none;
}
img {
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
    width: 100%;
}
h2.featured {
    text-align: center;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
}
h3.featured {
    text-align: center;
    font-size: 1em;
    margin-top: 1%;
}
p.featured {
    text-align: center;
}
h3.box-name {
    margin: auto;
}
.explore-more {
    float: right;
    background-color: transparent;
    color: #4e5134;
    background-image: none;
    margin-right: 30px;
} 
.apply-button {
    background-color: transparent;
    color: #4e5134;
    background-image: none;
}
div.intro {
    color: #2F5D7C;
    font-size: 175%;
    letter-spacing: 0;
    line-height: 150%;
    margin: 0 0 3%;
    font-weight: 300;
}
.paragraph {
    background-color: #f3f6f8;
    padding: 25px;
    margin-bottom: 25px;
}
.tab-pane {
    background-color: transparent;
    color: #4e5134;
    background-image: none;
}
.icon-chevron-up {
    color: #d7e0e7;
    font-size: 175%;
    line-height: normal;
    vertical-align: baseline;
}
.post-title {
    display: none;
}
.post-byline {
    display: none;
}
.post-meta {
    display: none;
}
.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.page-section {
  padding-top: 4rem; 
}
.section-header {
  font-size: 25px;
}
.sidebar-list {
  margin: 0;
  list-style: none;
}
.sidebar-list > li{
  margin-top: 1rem;
  font-size: 16px;
}
.back-to-top-link {
  margin-top: 1.8rem;
  margin-bottom: 0.6rem;
  display: inline-block;
}
.back-to-top {
  color: #222;
}
.page-toc {
  padding: 1.4rem 3rem;
  background: #f9f9f9;
}
.page-toc > h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.4rem;
}
.overlay {
    display: block;
    position: relative;
    background-color: rgba(12, 35, 68, .8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12, 35, 68, 1);
}
.span12 {
    margin-bottom: 5%;
}
.navigation-links {
    display: none;
}
@media screen and (max-width: 1200px) {
    .large-intro {
        font-size: 300%;
    }
}
@media screen and (max-width: 979px) {
    #container {
        padding-top: 0px !important;
    }
    .image-region {
        margin-left: -20px;
        margin-right: -20px !important;
    }
    .header-text {
        position: absolute;
        text-align: left;
        width: 100%;
        bottom: 0;
        color: white;
        margin-bottom: 3%;
        font-size: 80%;
        line-height: 50%;
    }
    .large-intro {
        padding-left: 20px;
    }
    .full-width-container {
        margin-left: 0px !important;
    }
}
@media screen and (max-width: 978px) {
    #ubc7-unit .container .apply-now-button {
        right: 30px;
    }
}
@media screen and (max-width: 767px) {
    .large-intro {
        font-size: 200%;
    }
   .span12 {
        margin-bottom: 0;
    }
    .explore-more {
        margin-right: 15px;
    }
    #ubc7-unit .container .apply-now-button {
        right: 65px;
    }
    h3 {
        font-size: 135%;
    }
    h2 {
        font-size: 200%
    }
    p {
        font-size: 100%;
    }
    .btn {
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 571px) {
    #ubc7-unit-navigation #menu-top-nav li.apply-button {
        display: none;
    }
    #ubc7-unit .container .apply-now-button {
        display: block;
    }
}
@media screen and (max-width: 570px) {
    #ubc7-unit .container .apply-now-button {
        display: none;
    }
    #ubc7-unit-navigation #menu-top-nav li.apply-button {
        display: block;
    }
}
@media screen and (max-width: 480px) {
    .large-intro {
        font-size: 150%;
        padding-left: 20px;
    }
}
@media screen and (max-width: 300px) {
    .large-intro {
        font-size: 110%;
        padding-left: 15px;
    }
}
.tg td{padding:8px 8px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-top{vertical-align:top}

.th-col1 {
  color:#002145;
  font-style:italic;
  font-weight:bold;
}

.blockquote {
  font-weight:800;
  font-style:italic;
  background-color: #e7e7e7;
  padding:1em;
  font-size:150%;  
}

#ubc7-unit-identifier {
    margin-left: -17px;
    font-size: 27px;
}

#ubc7-vancouver-campus {	 	 
    display: none; 	 	 
}	 	

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:active, .nav-tabs>.active>a:focus {
    background-color: #4e5134;
    border: #4e5134;
}

.nav-tabs>li>a {
    background-color: #b0b58c;
    border: #b0b58c;
    background: #b0b58c;
}

.nav-tabs>li>a:hover {
    background-color: #4e5134;
    border: #4e5134;
}

.nav-tabs {
    width: 100% !important;
}