.homepage-post-wrapper {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  column-gap: 20px;
}

.homepage-post {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 20px;
  border: 1px solid #d8d8d8;
  background: hsla(0,0%,90%,.4);
}

.homepage-post:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.homepage-post-content {
  padding: 15px;
}

.homepage-post-img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .homepage-post-wrapper {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    column-gap: 20px;
  }
}
