/*alert does not display until we check alerts exists*/
.website-alerts {
    display: none;
}
.alert {
    display: none;
}
.website-alerts br {
    display: none;
}
.home-alert {
    display: none;
}
/*.website-alert {
    position: relative;
}
.website-alert button {
    position: absolute;
    top: 0px;
    right: 2px;
    color: #3894bc;
    outline: 0px;
    border: 0px;
    line-height: 15px
}
button br {
    display: none;
}
.website-individual-alert {
    border: 1px solid #3894bc;
    padding: 10px 20px;
    display: none;
}
.website-alert {
    margin-bottom: 5px;
}
.weather-alert-outer {
    overflow: hidden;
    position: relative;
}
.weather-alert {
    border: 1px solid #3894bc;
    background-color: white;
    position: relative;
    display: none;
    margin: 5px 0px;
}
.weather-alert > table {
    margin: 5px;
}
.weather-alert .exclamation p {
    font-size: 190%;
    line-height: 1;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    color: #3894bc;
    margin-right: 5px;
}
.weather-alert p {
    margin: 0px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #1f385f;
}
.weather-alert .content-text p {
    font-size: 90%;
}
.weather-alert button {
    position: absolute;
    top: 0px;
    right: 1px;
    color: #3894bc;
    outline: 0px;
    border: 0px;
    line-height: 15px;
}
.weather-alert button:focus{
    color: #3894bc;
}
.weather-alert button:hover,
.weather-alert button:active {
    color: #1f385f;
}*/
h3 {
    font-size: 150%;
    line-height: 180%;
    font-weight: 400;
}
.banner {
  background: #3ba648;
  text-align: center;
}
.overlay {
    display: block;
    position: relative;
    background-color: rgba(12,35,68,.8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12,35,68,0);;
}
.myslider {
  left: 50%;
  transform: translateX(-50%);
  width: 100vw !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}
#join-us .span12 {
    margin-left: 0px;
}
.course-name {
    color: white;
    text-align: center;
}
.span12 {
    margin-bottom: 5%;
}
.image-region {
    position: relative;
    margin-right: -15px;
}
.slick-initialized {
    margin-left:0;
}
.slick-slide {
    margin: 0 15px;
}
.news {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 2px 1px rgba(0, 0, 0, 0.19);
    text-decoration: none;
}
.news:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.news-title {
    text-align: center;
}
.news-blurb {
    padding: 0 10px;
}
.center-image {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.vertical-align-center {
    vertical-align: middle;
}
.next {
    float:right; 
    cursor:pointer;
}
a.not_used,
div.news > br,
#nonfeatured-news > div.news > p,
.post_link > p
{
 display: none !important; 
}
.post_link > .span9
{
    margin: 0px;
}
#profile_slider > .slick-list > .slick-track > .slick-slide a
{
    text-decoration: none;
}
#profile_slider > .slick-list > .slick-track > .slick-slide > a
{
    display: none;
}
#profile_slider > .slick-list > .slick-track > .slick-slide > a.profile_link
{
    display: inline-block;
}
#profile_slider > .slick-list > .slick-track > .slick-slide > a.profile_link:hover
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#event_prev
{
    position:absolute;
    display: block;
    z-index: 1;
    width: 50px;
    height: inherit;
    left: 0px;
}
#event_next
{
    position:absolute;
    display: block;
    z-index: 1;
    width: 50px;
    height: inherit;
}
.event_button
{
    background-color: lightgrey;
}
#event-slider > div
{
    position: relative;
}
.profile-control
{
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    width: 55px;
    position: absolute;
    background-color: white;
}
#profile_slider .slick-list.draggable
{
    padding: 0px 55px;
}
.profile-control p.profile-arrow
{
    position: absolute;
    display: none;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 125px;
    color: #A8A8A8;
    height: 75px; 
    width: 50px;
    line-height: 50px;
    margin: 0px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#profile_slider_prev p.profile-arrow
{
    padding-left: 5px;
    padding-right: 0px;
    animation: removeShiftLeft 0.4s;
    animation-timing-function: ease-out;
}
#profile_slider_prev p.profile-arrow:hover
{
    padding-left: 0px;
    padding-right: 5px;
    animation: shiftLeft 0.4s;
    animation-timing-function: ease-out;
}
.profile-control > .profile-arrow
{
    color: #A8A8A8;
}
.profile-control > .profile-arrow:hover
{
    color: #0680a6;
}
.profile-control > .profile-arrow:active
{
    color: #2f5d7c;
}
@keyframes shiftLeft {
    from {padding-left: 5px;
    padding-right: 0px;
    color: #A8A8A8;}
    to{padding-left: 0px;
    padding-right: 5px;
    color: #0680a6;}
}
@keyframes removeShiftLeft {
    from {padding-left: 0px;
    padding-right: 5px;
    color: #0680a6;}
    to {padding-left: 5px;
    padding-right: 0px;
    color: #A8A8A8;}
}
#profile_slider_next p.profile-arrow
{
    padding-left: 0px;
    padding-right: 5px;
    animation: removeShiftRight 0.4s;
    animation-timing-function: ease-out;
}
#profile_slider_next p.profile-arrow:hover
{
    padding-left: 5px;
    padding-right: 0px;
    animation: shiftRight 0.4s;
    animation-timing-function: ease-out;
}
@keyframes shiftRight {
    from {padding-left: 0px;
    padding-right: 5px;
    color: #A8A8A8;}
    to{padding-left: 5px;
    padding-right: 0px;
    color: #0680a6;}
}
@keyframes removeShiftRight {
    from {padding-left: 5px;
    padding-right: 0px;
    color: #0680a6;}
    to {padding-left: 0px;
    padding-right: 5px;
    color: #A8A8A8;}
}
.profile-arrow:focus,
#profile_slider .slick-slide a:focus
{
    outline: 0;
    border: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#prospective-students	{
  background-image: url("http://lfs-ps.sites.olt.ubc.ca/files/2017/01/21351453703_139d3a8334_k-1.jpg");
}
#current-students	{
  background-image: url("http://lfs-ps.sites.olt.ubc.ca/files/2017/01/21786334679_b7d212dac8_k-1.jpg");
}
#graduate-students	{
  background-image: url("http://lfs-ps.sites.olt.ubc.ca/files/2017/01/21350516794_072adaf75c_k-1.jpg");
}
.box {
    background-size: cover;
    height: 250px;
}
.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.box-name {
    color: white;
    text-align: center;
}
#nonfeatured-news {
    overflow-y: scroll;
}
#upcoming-events div.slick-list li.slick-slide {
    margin: 0px;
    display: table;
    outline: 0;
    border: 0;
}
#upcoming-events div.slick-list li.slick-slide div.event-vertical-center-wrap {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden
}
#upcoming-events div.slick-list li.slick-slide .event-vertical-center-wrap .event-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}
#upcoming-events div.slick-list li.slick-slide .event-vertical-center-wrap .event-wrap .event-hover {
    position: absolute; /* not sure: this element responds to element with position relative, even if element is not direct parent */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity .4s;
    text-decoration: none;
}
#upcoming-events div.slick-list li.slick-slide .event-vertical-center-wrap .event-wrap:hover > .event-hover {
    opacity: 1;
}
#upcoming-events div.slick-list li.slick-slide .event-wrap > .event-image {
    overflow: hidden;
}
#upcoming-events div.slick-list li.slick-slide .event-wrap > .event-image > img {
    position: relative;
    transition: transform .4s;
}
#upcoming-events div.slick-list li.slick-slide .event-wrap:hover > .event-image > img {
    transform: scale(1.1);
}
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover .event-title,
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover .event-date {
    height: 50%;
    position: relative;
}
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover .horizontal-break {
    height: 1px;
    width: 60%;
    background-color: #2f5d7c;
    text-align: center;
    left: 20%;
    position: absolute;
    z-index: 2;
}
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover h2,
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover h3 {
    color: white;
    text-align: center;
    margin: 0px;
    position: relative;
}
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover h2 {
    top: 60%;
}
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover h3 {
    top: 20%;
}
#event-slider {
    position: relative;
}
#event-slider .event-double-arrow {
    position: absolute;
    /*height: 18%;*/
    z-index: 1;
    text-align: center;
    border-radius: 50%;
    background-color: #A8A8A8;
    right: 10px;
    bottom: 10px;
    opacity: 0.4;
}
#event-slider:hover .event-double-arrow {
    opacity: 0.7;
}
#event-slider .event-double-arrow:hover {
    opacity: 0.85;
}
#event-slider .event-prev {
    width: 50%;
    height: 100%;
    position: absolute;
}
#event-slider .event-next {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px;
}
#event-slider .event-double-arrow {
    cursor: pointer;
}
#event-slider .event-double-arrow p {
    margin: 0px;
    color: #2f5d7c;
}
@media screen and (max-width: 300px) {
    .box {
        height: 70px;
    }
}
@media screen and (max-width: 480px) {
    .box {
        height: 120px;
    }
}
@media screen and (max-width: 768px) {
    .next {
        display: none;
    }
    .profile-control {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .large-intro {
        font-size: 300%;
    }
    div.entry-content .profile-control {
        display: block;
    }
    /*#event-slider .event-double-arrow {
        display: none;
    }*/
}
@media screen and (max-width: 979px) {
#event-slider .event-double-arrow {
        display: none;
    }
}
@media screen and (min-width: 979px) and (max-width: 1200px) {
    #event-slider .event-double-arrow {
        height: 56px;
    }
    #event-slider .event-double-arrow p {
        line-height: 48px;
        font-size: 40px;
    }
}
@media screen and (min-width: 1200px) {
    div.entry-content .profile-control {
        display: block;
    }
    #event-slider .event-double-arrow {
        height: 70px;
    }
    #event-slider .event-double-arrow p {
        line-height: 60px;
        font-size: 50px;
    }
}
