/*alert does not display until we check alerts exists*/
.alert {
    display: none;
}
.website-alert p,
.website-alert td
{
    font-size: 100%;
}
.website-alerts-container
{
    display:none;
    position: relative;
}
.website-alert-texts
{
    display: none;
}
.website-alerts-container .exclamation p {
    font-size: 190%;
    line-height: 1;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    color: #3894bc;
    margin-right: 5px;
}
.website-alert {
    overflow: hidden;
}
.website-alert button {
    position: absolute;
    top: 2px;
    right: 3px;
    color: #3894bc;
    outline: 0px;
    border: 0px;
    line-height: 5px;
    height: 12px;
}
.website-alert br {
    display: none;
}
.website-alert-content {
    border: 1px solid #3894bc;
    padding: 8px 17px;
    margin-top: 5px;
    position: relative;
}
.website-alerts-container p {
    margin: 0px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #1f385f;
}
/*#container .image-region {
    overflow: hidden;
}*/
.banner {
  background: #3ba648;
  text-align: center;
}
.overlay {
    display: block;
    position: relative;
    background-color: rgba(12,35,68,.8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12,35,68,0);;
}
.myslider {
  left: 50%;
  transform: translateX(-50%);
  width: 100vw !important;
  margin-left: 0 !important;
  margin-bottom: 10px !important;
}
#join-us .span12 {
    margin-left: 0px;
}
.course-name {
    color: white;
    text-align: center;
}
.span12 {
    margin-bottom: 5%;
}
/*.image-region {
    position: relative;
    margin-right: -15px;
    padding-top: 40%;
    height: 0px;
}
.image-region #banner {
    position: absolute;
    top: 0px;
}*/
.slick-initialized {
    margin-left:0;
}
.slick-slide {
    margin: 0 15px;
}
.news {
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 1px 1px 2px 1px rgba(0, 0, 0, 0.19);
    text-decoration: none;
}
.news:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.news-title {
    text-align: center;
}
.news-blurb {
    padding: 0 10px;
}
.center-image {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.vertical-align-center {
    vertical-align: middle;
}
.next {
    float:right; 
    cursor:pointer;
}
a.not_used,
div.news > br,
#nonfeatured-news > div.news > p,
.post_link > p
{
 display: none !important; 
}
.post_link > .span9
{
    margin: 0px;
}
#profile_slider > .slick-list > .slick-track > .slick-slide a
{
    text-decoration: none;
}
#profile_slider > .slick-list > .slick-track > .slick-slide > a
{
    display: none;
}
#profile_slider > .slick-list > .slick-track > .slick-slide > a.profile_link
{
    display: inline-block;
}
#profile_slider > .slick-list > .slick-track > .slick-slide > a.profile_link:hover
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#event_prev
{
    position:absolute;
    display: block;
    z-index: 1;
    width: 50px;
    height: inherit;
    left: 0px;
}
#event_next
{
    position:absolute;
    display: block;
    z-index: 1;
    width: 50px;
    height: inherit;
}
.event_button
{
    background-color: lightgrey;
}
.profile-control
{
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    width: 55px;
    position: absolute;
    background-color: white;
}
#profile_slider .slick-list.draggable
{
    padding: 0px 55px;
}
.profile-control p.profile-arrow
{
    position: absolute;
    display: none;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 125px;
    color: #A8A8A8;
    height: 75px; 
    width: 50px;
    line-height: 50px;
    margin: 0px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#profile_slider_prev p.profile-arrow
{
    padding-left: 5px;
    padding-right: 0px;
    animation: removeShiftLeft 0.4s;
    animation-timing-function: ease-out;
}
#profile_slider_prev p.profile-arrow:hover
{
    padding-left: 0px;
    padding-right: 5px;
    animation: shiftLeft 0.4s;
    animation-timing-function: ease-out;
}
.profile-control > .profile-arrow
{
    color: #A8A8A8;
}
.profile-control > .profile-arrow:hover
{
    color: #0680a6;
}
.profile-control > .profile-arrow:active
{
    color: #2f5d7c;
}
@keyframes shiftLeft {
    from {padding-left: 5px;
    padding-right: 0px;
    color: #A8A8A8;}
    to{padding-left: 0px;
    padding-right: 5px;
    color: #0680a6;}
}
@keyframes removeShiftLeft {
    from {padding-left: 0px;
    padding-right: 5px;
    color: #0680a6;}
    to {padding-left: 5px;
    padding-right: 0px;
    color: #A8A8A8;}
}
#profile_slider_next p.profile-arrow
{
    padding-left: 0px;
    padding-right: 5px;
    animation: removeShiftRight 0.4s;
    animation-timing-function: ease-out;
}
#profile_slider_next p.profile-arrow:hover
{
    padding-left: 5px;
    padding-right: 0px;
    animation: shiftRight 0.4s;
    animation-timing-function: ease-out;
}
@keyframes shiftRight {
    from {padding-left: 0px;
    padding-right: 5px;
    color: #A8A8A8;}
    to{padding-left: 5px;
    padding-right: 0px;
    color: #0680a6;}
}
@keyframes removeShiftRight {
    from {padding-left: 5px;
    padding-right: 0px;
    color: #0680a6;}
    to {padding-left: 0px;
    padding-right: 5px;
    color: #A8A8A8;}
}
.profile-arrow:focus,
#profile_slider .slick-slide a:focus
{
    outline: 0;
    border: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#prospective-students	{
  background-image: url("http://lfs-ps.sites.olt.ubc.ca/files/2017/01/21351453703_139d3a8334_k-1.jpg");
}
#current-students	{
  background-image: url("http://lfs-ps.sites.olt.ubc.ca/files/2017/01/21786334679_b7d212dac8_k-1.jpg");
}
#graduate-students	{
  background-image: url("http://lfs-ps.sites.olt.ubc.ca/files/2017/01/21350516794_072adaf75c_k-1.jpg");
}
.box {
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
}
.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.box-name {
    color: white;
    text-align: center;
    font-size: 200%;
}
#upcoming-events div.slick-list li.slick-slide {
    margin: 0px;
    display: table;
    outline: 0;
    border: 0;
}
#upcoming-events div.slick-list li.slick-slide div.event-vertical-center-wrap {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden
}
#upcoming-events div.slick-list li.slick-slide .event-vertical-center-wrap .event-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}

#upcoming-events div.slick-list li.slick-slide .event-vertical-center-wrap .event-wrap .event-hover {
    /* not sure: this element responds to element with position relative, even if element is not direct parent */
    position: absolute;
    top: 90%;
    left: 0px;
    width: 100%;
    height: 10%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity .4s;
    text-decoration: none;
    opacity: 1;
    animation: hideEventDetails 0.25s;
    animation-timing-function: ease-out;
}
#upcoming-events div.slick-list li.slick-slide .event-vertical-center-wrap .event-wrap:hover .event-hover {
    height: 100%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.45);
    animation: showEventDetails 0.25s;
    animation-timing-function: ease-out;
}
@keyframes hideEventDetails {
    from {
        height: 100%;
        top: 0%;
        background-color: rgba(0, 0, 0, 0.45);
    }
    to {
        height: 10%;
        top: 90%;
        background-color: rgba(0, 0, 0, 0.35);
    }
}
@keyframes showEventDetails {
    from {
        height: 10%;
        top: 90%;
        background-color: rgba(0, 0, 0, 0.35);
    }
    to {
        height: 100%;
        top: 0%;
        background-color: rgba(0, 0, 0, 0.45);
    }
}
#upcoming-events .event-wrap a.event-link {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}
#upcoming-events div.slick-list li.slick-slide .event-wrap > .event-image {
    overflow: hidden;
}
#upcoming-events div.slick-list li.slick-slide .event-wrap > .event-image > img {
    position: relative;
    transition: transform .4s;
}
#upcoming-events div.slick-list li.slick-slide .event-wrap:hover > .event-image > img {
    transform: scale(1.1);
}
#upcoming-events .slick-list .slick-slide .event-wrap .event-hover p {
    color: white;
    text-align: center;
    margin: 0px;
    position: relative;
}
#upcoming-events .event-wrap .event-hover .event-text-wrap {
    max-height: 85%;
}

#upcoming-events .event-wrap .event-title {
    position: relative;
    top: 0%;
}
#upcoming-events .event-wrap .event-title p {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    line-height: 24px;
    font-size: 30px;
}
#upcoming-events .event-hover{
    overflow: hidden;
    height: 10%;
}
#upcoming-events .event-wrap .event-hover .event-date,
#upcoming-events .event-wrap .event-hover .event-description
{
    opacity: 0;
    animation: hideDetails 0.25s;
    animation-timing-function: ease-out;
}
#upcoming-events .event-wrap:hover .event-hover .event-date,
#upcoming-events .event-wrap:hover .event-hover .event-description
{
    display: block;
    opacity: 1;
    animation: showDetails 0.5s;
    animation-timing-function: ease-out;
}
@keyframes hideDetails {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes showDetails {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#upcoming-events .calendarArrow {
    position: relative;
    height: 40px;
}
#upcoming-events .event-wrap .event-view-position {
    position: absolute;
    height: 15%;
    bottom: 0%;
    width: 100%;
    display: none;
}
#upcoming-events .event-wrap .event-view-position .event-view-button {
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    background-color: #2f5d7c;
    opacity: 0;
    animation: hideEventButton 0.25s;
    animation-timing-function: ease-out;
}
#upcoming-events .event-wrap:hover .event-view-position .event-view-button {
    opacity: 1;
    animation: showEventButton 0.5s;
    animation-timing-function: ease-out;
}
@keyframes hideEventButton {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes showEventButton {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#upcoming-events .event-wrap .event-view-position .event-view-button a.event-button-link {
    color: white;
    text-decoration: none;
    font-size: 160%;
    vertical-align: middle;
    outline: 0;
    border: 0;
}
/* event arrow */
#upcoming-events #event-slider {
    padding: 0px 34px;
}
#event-slider {
    position: relative;
}
#event-slider .eventArrow {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 34px;
    background-color: white;
}
#event-slider .event-prev-wrap {
    left: 0px;
}
#event-slider .event-next-wrap {
    right: 0px;
}
#event-slider .eventArrow p {
    font-size: 85px;
    margin: 0px;
    width: 30px;
    height: 50px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    overflow: hidden;
}
/* event prev button hover */
#event-slider .eventArrow p.event-prev {
    padding-left: 4px;
    padding-right: 0px;
    color: #A8A8A8;
    animation: removeeventarrowshiftleft 0.4s;
    animation-timing-function: ease-out;
}
#event-slider .eventArrow p.event-prev:hover {
    padding-left: 0px;
    padding-right: 4px;
    color: #0680a6;
    animation: eventarrowshiftleft 0.4s;
    animation-timing-function: ease-out;
}
/* active effect should be after hover? */
#event-slider .eventArrow p.event-prev:active {
    color: #2f5d7c;
}
@keyframes eventarrowshiftleft {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
}
@keyframes removeeventarrowshiftleft {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #0680a6;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #A8A8A8;
    }
}
/* event next button hover */
#event-slider .eventArrow p.event-next {
    padding-left: 0px;
    padding-right: 4px;
    color: #A8A8A8;
    animation: removeeventarrowshiftright 0.4s;
    animation-timing-function: ease-out;
}
#event-slider .eventArrow p.event-next:hover {
    padding-left: 4px;
    padding-right: 0px;
    color: #0680a6;
    animation: eventarrowshiftright 0.4s;
    animation-timing-function: ease-out;
}
#event-slider .eventArrow p.event-next:active {
    color: #2f5d7c;
}
@keyframes eventarrowshiftright {
    from {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
    to {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
}
@keyframes removeeventarrowshiftright {
    from {
        padding-left: 4px;
        padding-right: 0px;
        color: #0680a6;
    }
    to {
        padding-left: 0px;
        padding-right: 4px;
        color: #A8A8A8;
    }
}


@media screen and (max-width: 300px) {
    .box {
        height: 70px;
    }
}
@media screen and (max-width: 480px) {
    .box {
        height: 120px;
    }
}
@media screen and (max-width: 766px) {
    #nonfeatured-news {
        overflow-y: none;
    }
    #nonfeatured-news .news {
        display: none;
    }
    #nonfeatured-news .news:first-child {
        display: block;
    }
}
@media screen and (min-width: 767px) {
    #nonfeatured-news {
        overflow-y: scroll;
    }
    #nonfeatured-news .news {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .next {
        display: none;
    }
    .profile-control {
        display: none;
    }
    .large-intro {
        font-size: 230%;
    }
}
@media screen and (min-width: 768px) {
    .large-intro {
        font-size: 300%;
    }
    div.entry-content .profile-control {
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    div.entry-content .profile-control {
        display: block;
    }
    .large-intro {
        font-size: 450%;
    }
}