.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.box-name {
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
.box {
    background-size: cover;
    height: 180px;
    padding: 0;
}
/* h1.page-title {
    display: none;
}
#peers-profile  div.featured-person > a {
    display:none;
}
#peers-profile  div.featured-person > a.peers-profile-link {
    display:inline-block;
    text-decoration: none;
}
#peers-profile  div.featured-person > a.peers-profile-link:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#peers-profile .featured-person {
    display: none;
}
@media screen and (max-width: 767px) {
   .accordion-group > .accordion-heading {
        font-size:150%; 
    }
    .box {
        margin-bottom: 20px;
    }
    #apply-sidebar > p {
        font-size: 100%;
    }
    #apply-sidebar > h4 {
        font-size: 17px;
    }
}
@media screen and (min-width: 767px) and (max-width: 978px) {
    #apply-sidebar {
        width: 205px;
    }
    #apply-sidebar > p {
        font-size: 100%;
    }
    #apply-sidebar > h4 {
        font-size: 18px;
    }
}
@media screen and (min-width: 979px) and (max-width: 1200px) {
    #apply-sidebar {
        width: 245px;
    }
    #apply-sidebar > p {
        font-size: 100%;
    }
    #apply-sidebar > h4 {
        font-size: 18px;
    }
}
@media screen and (min-width: 1200px) {
    #apply-sidebar {
        width: 325px;
    }
    #apply-sidebar > p {
        font-size: 120%;
    }
    #apply-sidebar > h4 {
        font-size: 20px;
    }
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#undergrad-profile > div.featured-undergrad > a {
    display: none;
}
#undergrad-profile > div.featured-undergrad > a.undergrad-profile-link {
    display:inline-block;
    text-decoration: none;
}
#undergrad-profile > div.featured-undergrad > a.undergrad-profile-link:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#apply-sidebar {
    margin-left: 0px;
    padding: 1.3em;
}
#apply-sidebar > h4 {
    margin-top: 0px;
}
#apply-sidebar > div {
    text-align: center;
} */