.image-region {
    position: relative;
    margin-right: -15px;
}
h1.page-title {
    display: none;
}
#alumni-profile  div.featured-person > a {
    display:none;
}
#alumni-profile  div.featured-person > a.alumni-profile-link {
    display:inline-block;
    text-decoration: none;
}
#alumni-profile  div.featured-person > a.alumni-profile-link:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#student_testimonial .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
#student_testimonial .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
#student_testimonial .slick-dots li button:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#student_testimonial .slick-dots li {
    position: relative;
    display: inline-block;  /* removes the dots */
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
/*#student_testimonial .slick-list .slick-slide > p {
    margin: 0 200px;
}
#student_testimonial .slick-list .slick-slide > h2 {
    float: right;
    margin-right: 200px;
}*/
#student_testimonial {
    padding: 30px;
}
#student_testimonial > ul.slick-dots {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
#student_testimonial .slick-slide {
    outline: 0;
    border: 0;
}
.btn {
    background-color: transparent;
    color: #4e5134;
    background-image: none;
}
@media screen and (max-width: 480px) {
    #student_testimonial {
        padding: 15px;
    }
    #student_testimonial .slick-list .slick-slide > p {
        margin: 0px;
        font-size: 103%;
        text-align: justify;
    }
    #student_testimonial .slick-list .slick-slide > h2 {
        font-size: 25px;
        float: right;
        margin-right: 0px;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    #student_testimonial .slick-list .slick-slide > p {
        margin: 0px;
        font-size: 120%;
    }
    #student_testimonial .slick-list .slick-slide > h2 {
        float: right;
        margin-right: 0px;
        font-size: 30px;
    }
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
    #student_testimonial .slick-list .slick-slide > p {
        margin: 0 50px;
    }
    #student_testimonial .slick-list .slick-slide > h2 {
        float: right;
        margin-right: 50px;
    }
}
@media screen and (min-width: 1200px) {
    #student_testimonial .slick-list .slick-slide > p {
        margin: 0 200px;
    }
    #student_testimonial .slick-list .slick-slide > h2 {
        float: right;
        margin-right: 200px;
    }
}