.icon-chevron-down, .icon-chevron-up {
  float: right;
  margin-right: -4px;
  margin-top: 4px;
}

.accordion-heading:hover > .accordion-toggle > .icon-chevron-down {
  color: white; 
}

h1.entry-title {
  display:none; 
}