.large-intro {
    font-size: 350%;
}
@media screen and (max-width: 1200px) {
    .large-intro {
        font-size: 300%;
    }
}
@media screen and (max-width: 979px) {
    .large-intro {
        padding-left: 20px;
    }
}
@media screen and (max-width: 767px) {
    .large-intro {
        font-size: 180%;
    }
}
@media screen and (max-width: 480px) {
    .large-intro {
        font-size: 110%;
        padding-left: 20px;
    }
}
@media screen and (max-width: 300px) {
    .large-intro {
        font-size: 90%;
        padding-left: 15px;
    }
}

h5 {
    font-size: 130%;
    margin-top: 0;
}
.span12 {
    margin-bottom: 5%;
}
/*.image-region {
    position: relative;
    margin-right: -15px;
}*/
h1.page-title {
    display: none;
}
.ranking-number {
    text-align: center;
    font-size: 6em;
    line-height: 1.2em;
    font-weight: 700;
    font-style: normal;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #002145;
}
.ranking-title {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial, sans-serif;
    color: #002145;
}
.dean-message {
    margin-bottom: 1.5em;
}