p {
    font-size: 100%;
}
@media screen and (max-width: 767px) {
    .btn {
        margin-bottom: 10px;
    }
}
.course-name {
    color: white;
    text-align: center;
}
h1.page-title {
    display: none;
}
.btn {
    background-color: transparent;
    color: #002145;
    background-image: none;
}