p {
    font-size: 100%;
}
@media screen and (max-width: 767px) {
    .btn {
        margin-bottom: 10px;
    }
}
.course-name {
    color: white;
    text-align: center;
}
h1.page-title {
    display: none;
}
.btn {
    background-color: transparent;
    color: #002145;
    background-image: none;
}
#peers-profile  div.featured-person > a {
    display:none;
}
#peers-profile  div.featured-person > a.peers-profile-link {
    display:inline-block;
    text-decoration: none;
}
#peers-profile  div.featured-person > a.peers-profile-link:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#peers-profile .featured-person {
    display: none;
}