.page-section {
  padding-top: 4rem; 
}

.section-header {
  font-size: 25px;
}
.sidebar-list {
  margin: 0;
  list-style: none;
}
.sidebar-list > li{
  margin-top: 1rem;
  font-size: 16px;
}
.back-to-top-link {
  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
  display: inline-block;
}
.back-to-top {
  color: #222;
}
.page-toc {
  padding: 1.4rem 3rem;
  background: #f9f9f9;
}
.page-toc > h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.4rem;
}
  