.center-box {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

@media screen and (max-width: 979px) {
    .box {
        height: 150px;
    }
}
@media screen and (max-width: 767px) {
   .span12 {
        margin-bottom: 0;
    }
    }
@media screen and (max-width: 480px) {
    .box {
        height: 120px;
    }
}
@media screen and (max-width: 300px) {
    .box {
        height: 70px;
    }
}
.box-name {
    color: white;
    text-align: center;
}
.box {
    background-size: cover;
    height: 250px;
    margin-bottom: 25px;
}
.overlay {
    display: block;
    position: relative;
    background-color: rgba(12, 35, 68, .8);
    height: 100%;
    width: 100%;
}
.overlay:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(12, 35, 68, 1);
}
h3 {
  margin-top:0;
  margin-bottom:0;
}